<a href="https://colab.research.google.com/github/chrisliu01/Python/blob/master/python_tutorial_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Collections (Arrays)**
There are four collection data types in the Python programming language:


List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered and unindexed. No duplicate members.

Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.


**List**

A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

**Access Items**

You access the list items by referring to the index number:

In [2]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

**Change Item Value**

To change the value of a specific item, refer to the index number:

In [3]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

**Loop Through a List**

You can loop through the list items by using a for loop:

In [4]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

**Check if Item Exists**

To determine if a specified item is present in a list use the in keyword:

In [7]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

**Add Items**

To add an item to the end of the list, use the append() method:

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

To add an item at the specified index, use the insert() method:

In [9]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

**Remove Item**

There are several methods to remove items from a list:

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

# **Exercise:**

Print the second item in the fruits list.

In [0]:
fruits = ["apple", "banana", "cherry"]
print(?????)

0.75