<a href="https://colab.research.google.com/github/chrisliu01/Python/blob/master/python_notebook_quizz_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h3> Practice Mysql DB Connection</h3>

In [0]:
!python -m pip install mysql-connector

In [0]:
import mysql.connector

2) return a dataframe with only the rows where column <code> a </code> is less than two

In [0]:
mydb = mysql.connector.connect(
  host="db4free.net",
  user="csci2133_gang",
  passwd="12345678",
  database="csci2133_login"
)

print(mydb)

In [0]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [0]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

Question 1: Look at the example above, create another table called your "table_" with your banner_ID.  Table should contain three column (name varchar, email varchar and address varchar )

Question 2: Insert three dummy records into your table;

Question 3: Select one record from your table, and convert it into dataframe. Then display it.