<a href="https://colab.research.google.com/github/chrisliu01/Python/blob/master/python_notebook_quizz_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h3> Get to Know a Pandas Array </h3>

You will use the dataframe <code>df</code> for the following:

In [0]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

1) find the unique values in column <code> 'a' </code>:

2) return a dataframe with only the rows where column <code> a </code> is less than two