<a href="https://colab.research.google.com/github/chrisliu01/Python/blob/master/python_basic_data_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Python Basics 1: Variables and Data types**
In Python we like to assign values to variables. Why? Because it makes our code better — more flexible, reusable and understandable. At the same time one of the trickiest things in coding is exactly this “assignment concept.” When we refer to something, that refers to something, that refers to something… well, understanding that needs some brain capacity. But don’t you worry, you will get used to it – and you will love it!


**Let’s see how it works!**

Say we have a dog (‘Freddie’), and we would like to store some of his attributes (name, age, is_vaccinated, year_of_born, etc.) of this dog in Python variables! We will type this into a Jupyter notebook cell:

dog_name = 'Freddie'

age = 9

is_vaccinated = True

height = 1.1

birth_year = 2001

In [0]:
dog_name = 'Freddie'

age = 9

is_vaccinated = True

height = 1.1

birth_year = 2001

*Note: we could have done this one per cell. But this all-in-one solution was easier and more elegant.*

From now on, if we type these variables, the assigned values will be returned:

In [2]:
dog_name

'Freddie'

In [3]:
age

9

Just like in SQL, in Python we have different data types.


For instance the dog_name variable holds a string: 'Freddie'. In Python 3 a string is a sequence of Unicode characters (eg. numbers, letters, punctuation, etc.), so it can have numbers or exclamation marks or almost anything (eg. ‘R2-D2’ is a valid string). In Python it’s super easy to identify a string as it’s usually between quotation marks.

The age and the birth_year variables store integers (9 and 2001), which is a numeric Python data type. Another numeric data type is float, in our example: height, which is 1.1.

The is_vaccinated’s True value is a so called Boolean value. Booleans can be only True or False.

In [0]:
dog_name = 'Eddie'

In [5]:
dog_name

'Eddie'

# **Python Variables – Basic Operators**

You have just learned about variables. It’s time to play around with them!
Let’s define two new variables a and b:


a = 3

b = 4

In [0]:
a = 3
b = 4

What we can do with a and b? Well, first of all, a bunch of basic arithmetical operations! It’s nothing special, you could have found out these by common sense, but just in case, here’s the list:


Operator	What does it do?	Result in our example

a + b	Adds a to b	7

a - b	Subtract b from a	-1

a * b	Multiply a by b	12

a / b	Divide a by b	0.75

b % a	Divides b by a and returns remainder	1

a ** b	a raised to the power of b	81

And how it looks in Jupyter:

In [7]:
a+b

7

In [8]:
a-b

-1

In [9]:
a*b

12

In [10]:
a/b

0.75

Operator	What does it do?	Result in our example

a > b	Evaluate if a is greater than b	False

a < b	Evaluate if a is less than b	True

a == b	Evaluate if a equals b	False

**In the notebook:**

In [11]:
a>b

False

In [12]:
a<b

True

In [13]:
a==b

False